@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color:black;
}

body{
  background:url("fantastic-blue-sky.jpg") no-repeat center center fixed;
  background-size:cover;
}

a,
.green {
  text-decoration: none;
  color: rgb(29, 2, 135);
  transition: 0.4s;
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsl(161, 44%, 93%);
  }
} */

@media (min-width: 1024px) {
  body {
    width: 100vw;
    height: 90vh;
  }
  #app {
    width: 100%;
    height: 95%;

  }
}

label {
  color : black
}